name: Django CD

on:
  push:
    branches:
      - main

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1

        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}

          script: |
            source var/www/all-projects/github_actions_venv/bin/activate

            cd var/www/all-projects/git-hub-actions/gitHubActions
            
            git pull origin main

            pip install -r requirements.txt

            python manage.py migrate

            pkill -f runserver || true

            nohup python manage.py runserver 0.0.0.0:8000 &
