name: Django CI/CD

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        working-directory: gitHubActions
        run: |
          pip install -r requirements.txt
          
      - name: Run Migrations
        working-directory: gitHubActions
        run: |
          python manage.py migrate --run-syncdb
          
      - name: Run Django tests
        working-directory: gitHubActions
        run: |
          python manage.py test

  deploy:
    name: Deploy to EC2
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Copy files to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "
            cd /var/www/all-projects/git-hub-actions/gitHubActions &&
            git pull &&
            source venv/bin/activate &&
            pip install -r requirements.txt &&
            python manage.py migrate --run-syncdb &&
            python manage.py collectstatic --noinput &&
            sudo systemctl restart gunicorn || true
          "
